.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.container button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.board-list {
  list-style: none;
  margin-top: 20px;
}

.board-list li {
  background: white;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


.board-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.board-item span {
  cursor: pointer;
  font-weight: 500;
}

.board-actions button {
  margin-left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}
